*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background: rgb(236, 236, 142);
}

.navbar{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    
}

h1{
    padding: 20px;
    font-size: 40px;
}

p{
    padding: 10px;
    font-size: 25px;
}


.nav-links{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.nav-links{
    padding: 20px 10px;
}

li:hover{
    transition: transform 0.5s;
    transform: scale(1.1);

}

li{
    margin-right: 10px;
}

.course-element{
    width: 90px;
    height: auto;
    background: white;
    color: black;
    padding: 10px 0px 10px 0px;
    display: none;
    
}

.course-element li{
    
    border: solid black;
    margin-bottom: 10px;
    padding: 5px;
    display: none;
}

.about-us{
    padding: 10px 10px;
}

.about-us h1{
    color: rgb(70, 209, 70);

}

.about-us p{
    font-size: 15px;
    margin-left: 10px;
}